In [ ]:
# This file shows how I cleaned up the dataset I got from NBIM's website.

In [1]:
import pandas as pd

In [13]:
# Read CSV file
oljefondet = pd.read_csv('oljefondet.csv', encoding='utf-16', sep=';', decimal=',', thousands='.')

In [14]:
# Making Ownership and Voting into floats
oljefondet['Ownership'] = pd.to_numeric(oljefondet['Ownership'].str.replace('%', '').str.replace(',', '.'), errors='coerce')
oljefondet['Voting'] = pd.to_numeric(oljefondet['Voting'].str.replace('%', '').str.replace(',', '.'), errors='coerce')

In [15]:
oljefondet.loc[oljefondet['Ownership'] > 10]

,Region,Country,Name,Industry,Market Value NOK,Market Value USD,Voting,Ownership,Incorporation Country
1716,Europe,Germany,Vonovia SE,Real Estate,42854067556,4234717191,14.43,14.43,NaN
6614,Europe,United Kingdom,Shaftesbury Capital PLC,Real Estate,9950140064,983244569,25.19,25.19,NaN

In [16]:
# Check that none of them have a value for Incorporation Country
oljefondet.loc[oljefondet['Incorporation Country'].notna()]

Empty DataFrame
Columns: [Region, Country, Name, Industry, Market Value NOK, Market Value USD, Voting, Ownership, Incorporation Country]
Index: []

In [17]:
oljefondet = oljefondet.drop(columns=['Incorporation Country'])

In [18]:
oljefondet['Region'] = oljefondet['Region'].astype('category')
oljefondet['Country'] = oljefondet['Country'].astype('category')
oljefondet['Name'] = oljefondet['Name'].astype('string')
oljefondet['Industry'] = oljefondet['Industry'].astype('category')

In [19]:
oljefondet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8374 entries, 0 to 8373
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            8374 non-null   category
 1   Country           8374 non-null   category
 2   Name              8374 non-null   string
 3   Industry          8374 non-null   category
 4   Market Value NOK  8374 non-null   int64
 5   Market Value USD  8374 non-null   int64
 6   Voting            8374 non-null   float64
 7   Ownership         8374 non-null   float64
dtypes: category(3), float64(2), int64(2), string(1)
memory usage: 355.0 KB

In [27]:
oljefondet.loc[(oljefondet['Industry'] == 'Technology') & (oljefondet['Ownership'] > 5)]

,Region,Country,Name,Industry,Market Value NOK,Market Value USD,Voting,Ownership
155,Oceania,Australia,IRESS Ltd,Technology,580886421,57401546,5.86,5.86
253,Oceania,Australia,RPMGlobal Holdings Ltd,Technology,288585066,28517156,6.77,6.77
1244,Asia,China,Vnet Group Inc,Technology,1091201369,107829419,4.96,5.81
4415,Europe,Netherlands,Just Eat Takeaway.com NV,Technology,3378306655,333834665,7.01,7.01
4868,Asia,South Korea,Cheryong Electric Co Ltd,Technology,297205702,29369023,5.66,5.66
6105,Asia,Taiwan,WinWay Technology Co Ltd,Technology,997725090,98592358,6.20,6.20
7929,North America,United States,Rogers Corp,Technology,901776279,89110970,7.02,7.02

In [28]:
oljefondet.loc[oljefondet['Market Value NOK'] < 0]

,Region,Country,Name,Industry,Market Value NOK,Market Value USD,Voting,Ownership
517,North America,Canada,Canada Goose Holdings Inc,Consumer Discretionary,-50957749,-5035500,-0.08,-0.46
7034,North America,United States,Clear Secure Inc,Technology,-51966798,-5135211,-0.03,-0.14
7124,North America,United States,Dave & Buster's Entertainment Inc,Consumer Discretionary,-39863386,-3939187,-0.38,-0.38
7544,North America,United States,LCI Industries,Consumer Discretionary,-34605579,-3419625,-0.15,-0.15